@import '../../../../styles.scss';

.header-container {
  background: #fff;
  border-bottom: 1px solid #e2e8f0;
  padding: 0 2rem;
  height: 70px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 900;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn-logout {
  @extend .ButtonConfig;
  
  background: none;
  border: 2px solid var(--contraste);
  color: var(--contraste);
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 4px;
  font-size: 0.9rem;

  &:hover {
    background: var(--contraste);
    color: #fff;
  }
}