<footer class="footer">
	<div class="footer__content">
		<div class="footer__logo">
			<img src="assets/logo/Logo.svg" alt="Logo Pagalo seguro" />
		</div>
		<div class="footer__info">
			<div class="footer__item ButtonConfig">
				<img src="assets/icons/mensaje.svg" alt="Teléfono" height="20" />
				<a href="https://wa.me/525545557217" target="_blank" rel="noopener">55 4555 7217</a>
			</div>
			<div class="footer__item ButtonConfig">
				<img src="assets/icons/mensaje.svg" alt="Teléfono" height="20" />
				<a href="https://wa.me/527717573945" target="_blank" rel="noopener">77 1757 3945</a>
			</div>
			<div class="footer__item ButtonConfig">
				<a href="mailto:info@pagaloseguro.com" target="_blank" rel="noopener">
					<img src="assets/icons/correo.svg" alt="Correo" height="20" />
					<span>info&#64;pagaloseguro.com</span>
				</a>
			</div>
			<div class="footer__item ButtonConfig">
				<a href="https://www.facebook.com/" target="_blank" rel="noopener">
					<img src="assets/icons/Facebook.svg" alt="Facebook" height="20" />
					<span>Págalo Seguro</span>
				</a>
			</div>
		</div>
	</div>
</footer>
