:host {
  display: block;
  height: 100vh;
}

// Contenedor general
.pase-layout-container {
  display: flex;
  height: 100%;
}

// === ESTILOS ADMIN / EJECUTIVO ===
.admin-layout {
  .pase-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 1000;
  }

  .pase-main-content {
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    
    margin-left: 260px;
    transition: margin-left 0.3s ease;
  }

  &.sidebar-collapsed {
    .pase-main-content {
      margin-left: 80px;
    }
  }
}

// === ESTILOS AHORRADOR ===
.saver-layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f9fc;
}

.saver-main-content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  flex-grow: 1;
}